body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    

}
h1{     
    border: 0px solid tomato;
    text-decoration:  overline ;
    
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
   font-size : 160px;
   background-color: tomato;
   color: rgb(252, 230, 35);
}
h2{
    display: inline;
    color: rgb(252, 230, 35);
}
a{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
h3{ 
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    padding: 10px;
}
#sec1{
    float: right;
}
#firstImage{
margin-left: 10px;
float: right;
margin-right:10px;
}
#firstArticle{
    margin-right: 150px;
    font-size: 20px;
    float: right;
}
#mercedesArticle{
    padding-top: 50px;
    margin-top: 20px;
}
.mer {
    /* border: 2px solid red; */
    font-size: 20px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 99, 71, 0.795);
    justify-items: left;
    float: left;

}
#mercedesImage {
    padding-bottom: 0mm;
    border: 0px 0px;
}
.Iowa-city{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgba(252, 230, 35, 0.568);
    scrollbar-arrow-color: springgreen;

   /* border: 1px solid red; */
    float: left;
    margin-left: 50%;
}
#blink{
    font-size: 100%;
    float: right;
    inline-size: 20px;
    border: 10%;
}

#logIn{
    padding-left: 20px;
}
nav ul h3{
    display: inline;
    align-content: center;
    margin-top: 10.1% ;
    padding: 10px 10px ;
    float: right;
    text-decoration: none;
}
#month{
    padding-left: 20px;
}
header{
    border: 0px;
    padding-bottom: 2.5mm;
    margin-bottom: 0px;
    background-image: url(https://venngage-wordpress.s3.amazonaws.com/uploads/2018/09/Colorful-Circle-Simple-Background-Image-1.jpg);
    }
    footer{
        justify-content: left;
        float: right;
        margin-top: 50mm;
        background-color: rgba(35, 22, 109, 0.781);
    color: tomato;
    padding-top: 0%;
}